{% extends "main.html" %}
{% block content %}
            <div id="slider">
                <ul id="sliderContent">
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic4.jpg" alt="1" />
                    <span class="top"><strong>W8UPD Group Photo, April 2012</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic1.jpg" alt="1" />
                    <span class="top"><strong>Towers on the hills to Cleveland</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic2.jpg" alt="2" />
                    <span class="top"><strong>Sunset at Zook</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic3.jpg" alt="3" />
                    <span class="bottom"><strong>The Union, Soccer field, and Football Stadium to Zooks south at night</strong></span>
                </li>
                <div class="clear sliderImage"></div>
                </ul>
            </div> 
            <div id="triportal">
              <div class="left">
                <div class="title">Upcoming Events</div>
                  <h3>Sept:</h3>
                    <li>24 Mon - W8UPD Meeting, Zook 501 Technician Course! Class 1.</li>
                  <h3>Oct:</h3>
                    <li>1 Mon - W8UPD Meeting, Zook 501 Tech Class 2.</li>
                    <li>8 Mon - W8UPD Meeting, Zook 501 Tech Class 3.</li>
                    <li>15 Mon - W8UPD Meeting, Zook 501 Tech Class 4.</li>
              </div>
              <div class="right">
                <div class="title">Club News</div>
                <p>Technician Lcense Classes are being offered free of charge by the UA Radio Club. Classes will be held every Monday evening at or just after 7:30pm. If you have any questions please direct them to the mailing list at w8upd@googlegroups.com . Thanks and see you there!
		          </div>
              <div style="clear: both;"></div>
            </div>
        </div>
{% endblock %}
