{% extends "main.html" %}
{% block content %}
            <div id="slider">
                <ul id="sliderContent">
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic4.jpg" alt="1" />
                    <span class="top"><strong>W8UPD Group Photo, April 2012</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic1.jpg" alt="1" />
                    <span class="top"><strong>Towers on the hills to Cleveland</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic2.jpg" alt="2" />
                    <span class="top"><strong>Sunset at Zook</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic3.jpg" alt="3" />
                    <span class="bottom"><strong>The Union, Soccer field, and Football Stadium to Zooks south at night</strong></span>
                </li>
                <div class="clear sliderImage"></div>
                </ul>
            </div> 
            <div id="triportal">
              <div class="left">
                <div class="title">Upcoming Events</div>
		            <h3>April:</h3>
		            <li>30 Mon - Start Exam Week</li>

                <h3>May:</h3>
                <li>7 Mon - W8UPD Meeting, Zook 501</li>
                <li>14 Mon - W8UPD Meeting, Zook 501</li>
		            <li>17 Thu - Dayton Hamvention Road Trip!</li>
                <li>20 Sun - Back from Dayton</li>
                <li>21 Mon - W8UPD Meeting... for the die-hards</li>
              </div>
              <div class="right">
                <div class="title">Club News</div>
                <p>Dayton hamvention is just around the corner. Rooms have been reserved. Use 145.170MHz simplex for W8UPD group talk. See you down at dayton!</p><br>
                <p>Field day is not too far away! Field day planning will commence after Dayton Hamvention.</p>
		          </div>
              <div style="clear: both;"></div>
            </div>
        </div>
{% endblock %}
