{% extends "main.html" %}
{% block content %}
            <div id="slider">
                <ul id="sliderContent">
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic1.jpg" alt="1" />

                    <span class="top"><strong>Towers on the hills to Cleveland</strong></span>
                </li>
                <li class="sliderImage">
                    <img src="/media/rotatepics/pic2.jpg" alt="2" />
                    <span class="top"><strong>Sunset at Zook</strong></span>
                </li>
                <li class="sliderImage">

                    <img src="/media/rotatepics/pic3.jpg" alt="3" />
                    <span class="bottom"><strong>The Union, Soccer field, and Football Stadium to Zooks south at night</strong></span>
                </li>
                <div class="clear sliderImage"></div>
                </ul>
            </div> 
            <div id="triportal">
                <div id="leftportal">
                    <div class="title">Recent Contacts</div>
                    <ul>
                        {% for contact in contacts %}
                        <li>{{ contact.callsign }}</li>
                        {% endfor %}
                    </ul>                    
                </div>
                <div id="middleportal">
                    <div class="title">Club News</div>
                    <p>This site now live.</p>
                </div>
                <div id="rightportal">
                    <div class="title">Upcoming Events</div>
                    <p>March</p>
                    <p>- 6 Sun - Website goes live!</p>
                    <p>- 7 Mon - Meeting, 7PM Zook 501</p>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
{% endblock %}
